mixin logo(selector, front)
  if front === "front"
    div(class=`logo ${selector}`)
      img(class="logo--desktop", src=require("../../assets/images/logo.png"))
      img(class="logo--mobile", src=require("../../assets/images/mobile-logo.png"))


  else
    a(href="/", title="на главную", class=`logo ${selector}`)
      img(class="logo--desktop", src=require("../../assets/images/logo.png"))
      img(class="logo--mobile", src=require("../../assets/images/mobile-logo.png"))
