mixin range(attrs)
  div(class=`form-item form-item__range ${attrs.customSelector}`)
    label(for= attrs.inputID, class= "label")
      span.label-left= attrs.labelTitle
      if attrs.labelTitleRight
      span.label-right.label-wrap
        span(class= "label-right__number label-right__number-min")= attrs.from
        span= " - "
        span(class= "label-right__number label-right__number-max")= attrs.to
    input(type= "text", name= attrs.name, class= "js-range-slider", data-min= attrs.minPrice, data-max= attrs.maxPrice, data-from= attrs.from, data-to= attrs.to)
