mixin range(data)
  div(class=`form-item form-item__range ${data.customSelector}`)
    label(for= data.inputID, class= "label")
      span.label-left= data.labelTitle
      if data.labelTitleRight
      span.label-right.label-wrap
        span(class= "label-right__number label-right__number-min")= data.from
        span= " - "
        span(class= "label-right__number label-right__number-max")= data.to
    input(type="text", name= data.name, class="js-range-slider", data-min= data.minPrice, data-max= data.maxPrice, data-from= data.from, data-to= data.to)
