mixin checkbox(data, rich = false)
  if (rich)
    div(class=`form-item form-item__checkbox form-item__checkbox-rich ${data.customSelector}`)
      input(type= "checkbox", name= data.name, id= data.id, class="checkbox")
      span(class= "checkbox__mark")
      label(for= data.id, class=`checkbox__label ${data.labelClass}`)
        h3(class="checkbox-rich__title")
          | #{data.title}
        p(class= "checkbox-rich__text")
          | #{data.text}
  else
    div(class=`form-item form-item__checkbox ${data.customSelector}`)
      input(type= "checkbox", name= data.name, id= data.id, class="checkbox")
      span(class= "checkbox__mark")
      label(for= data.id, class= `checkbox__label ${data.labelClass}`)
        | #{data.labelTitle}
