include ../rate-btn/rate-btn

mixin room(selector, data, images)
  -
    if (data.link == undefined) {
      data.link = "/room-detail.html"
    }

  .room
    .room__slider
      each img in images
        .room__slide
          img(src= `./assets/images/rooms/${img}`, alt= data.title)

    .room__info
      .card__wrap.card__wrap--between.card__title.card-room__title.room__title
        h3.card-room__title-text
          a(href= data.link)
            | № <span class="card-room__title-text--size"> #{data.title}</span>
            | <span class="card-room__title-text--color"> #{data.type}</span>

        .card-room__title-price
          | <span>#{data.price}</span> в сутки

      .card__wrap.card__wrap--between.room__reviews
        +rateBtn(data.stars, data.filled)
        .room__reviews-text
          | #{data.reviewCount}