include ../../Dropdown-date/Dropdown-date
include ../../Dropdown/Dropdown
include ../../Button/Button

mixin cardRoom(selector, data)
  -
    let sumArr = [data.pricePerDay, data.priceForAdditionalServices]
    let regex = / /
    let fee = data.pricePerFee.replace(regex, "")
    let sum = 0

    sumArr.forEach(elem => {
    elem = elem.replace(regex, "")
    sum += Number(elem)
    })

    sum = sum - fee

  // sum = sum.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, "$1 ")

  form(class=`card card-room`, action="#")
    .card__wrap.card__wrap--between.card__title.card-room__title
      h3.card-room__title-text
        | № <span class="card-room__title-text--size">#{data.room}</span>
        | <span class="card-room__title-text--color">#{data.type}</span>
      .card-room__title-price
        | <span>#{data.pricePerDay} ₽</span> в сутки

    +dropdownDate(data.dateRange, true, false)
    +dropdown(data.roomGuests, data.roomGuestsItems)

    .card-room__price
      .card__wrap.card-room__item
        .card-room__text
          | <span class="card-room__daysPrice">#{data.pricePerDay}</span>₽ х <span class="card-room__daysNumber">1</span> <span class="card-room__daysText">сутки</span>
        .card-room__sum
          | <span class="card-room__daysSum">#{data.pricePerDay}</span>₽

      .card__wrap.card-room__item
        .card-room__text
          | Сбор за услуги: скидка <span>#{data.pricePerFee} ₽</span>
        .card-room__icon
          i(class="material-icons") error_outline
        .card-room__sum
          | - <span class="card-room__fee">#{data.pricePerFee}</span>₽

      .card__wrap.card-room__item
        .card-room__text
          | Сбор за дополнительные <br />
          | услуги
        .card-room__icon
          i(class="material-icons") error_outline
        .card-room__sum
          | <span class="card-room__additional">#{data.priceForAdditionalServices}</span>₽

      .card__wrap.card__wrap--between.card-room__total
        .card-room__total-text
          | Итого
        .card-room__total-price
          | <span>#{sum}</span>₽

    +button("card-room__btn btn--arrow", "submit", "Забронировать")